@use '../abstracts/_colors' as *;

$light-theme: (
  primary: map-get($primary, 40),
  on-primary: map-get($primary, 100),
  primary-container: map-get($primary, 90),
  on-primary-container: map-get($primary, 10),
  secondary: map-get($secondary, 40),
  on-secondary: map-get($secondary, 100),
  secondary-container: map-get($secondary, 90),
  on-secondary-container: map-get($secondary, 10),
  tertiary: map-get($tertiary, 40),
  on-tertiary: map-get($tertiary, 100),
  tertiary-container: map-get($tertiary, 90),
  on-tertiary-container: map-get($tertiary, 10),
  error: map-get($error, 40),
  on-error: map-get($error, 100),
  error-container: map-get($error, 90),
  on-error-container: map-get($error, 10),
  background: map-get($neutral, 99),
  on-background: map-get($neutral, 10),
  surface: map-get($neutral, 99),
  on-surface: map-get($neutral, 10),
  surface-variant: map-get($neutral-variant, 90),
  on-surface-variant: map-get($neutral-variant, 30),
  outline: map-get($neutral-variant, 50),
  outline-variant: map-get($neutral-variant, 80),
);
